<% produto = Produto.where(id: params[:produto]).first %>
<div style="text-align:right;margin-bottom:-10px;font-style:italic">Cortar nas linhas Pontilhadas</div>
<div style="width: 100%;height:-10px; margin-bottom:5px">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<div style="border: 1px solid black;height: 100px; width: 100%">
    <%= image_tag wicked_pdf_asset_base64('logo.jpg'), style: 'height: 80px; width: 80px;margin-top:10px;margin-left:10px;border-radius:5px;display:inline-block;' %>
    <h1 style="display:inline-block;vertical-align:top;margin-top:32px;margin-left:70px">Sistema de Gestão e Qualidade da Pãodaria</h1>
</div>