<table class="tabela-lado-lado">
    <tbody>
        <tr>
            <td class="td-index-esquerda"> Criado por: </td>
            <td class="td-index-direita"> <%= @produto.criado_por %> <%= "Não cadastrado" if @produto.criado_por == nil %> </td>
        </tr>
    </tbody>
</table>