<table class="tabela-lado-lado">
    <tbody>
        <tr>
            <td>
                <button id="hide_and_show_ing_on_prod" class="btn btn-padrao">Adicionar novo ingrediente</button>
            </td>
        </tr>
    </tbody>
</table>

<script>
$("#hide_and_show_ing_on_prod").click(function(){
    $("#ingrediente_select_toggle").show();
    $("#btn_add").show();
});
</script>