<div class="form-design min-height-loja">
    <h1 class="titulo-system">Loja</h1>
    <hr class="hr-system-80por">
    <div class="width-80por">
        <%= render('loja_produtos') %>
    </div>
</div>