<div class="conteudo-dashboard min-height-index-padrao-600px">
    <div class="div-cabeca-index text-center">
        <div class="label-org-index"> Painel de controle </div>
    </div>
    <div class="div_dashboards_index">
        <div>
            <div class="background-controle-hover" onclick="produtos_on()"> Produtos <i style="vertical-align: middle;" class="fa fa-caret-right" id="fa-produtos"> </i></div>
            <div style="display: none" class="displays" id="produtos_on">
                <%= render('estoque_produto') %>
            </div>
        </div>
        <div>
            <div class="background-controle-hover" onclick="funcionarios_on()"> Funcionários <i style="vertical-align: middle;" class="fa fa-caret-right" id="fa-funcionarios"> </i> </div>
            <div style="display: none" class="displays" id="funcionarios_on">
                <%= render('empresas_funcionarios') %>
            </div>
        </div>    
    </div>
</div>

<script>

function produtos_on() {
    display_none();
    $("#produtos_on").css("display", "block");
    $("#fa-produtos").addClass("transform-90");
    $("#fa-funcionarios").removeClass("transform-90");
}

function funcionarios_on() {
    display_none();
    $("#funcionarios_on").css("display", "block");
    $("#fa-produtos").removeClass("transform-90");
    $("#fa-funcionarios").addClass("transform-90");
}

function display_none(){
    $(".displays").css("display", "none");
}

</script>