<div class="div-conteudo-fundo">
    <div class="div-lateral">
        <button class="btn-lateral lateral-first" id="renderizar_estoque_produto" onclick="renderizar_produto()">
            Produtos
        </button>
        <button class="btn-lateral">
            Exemplo 2
        </button>
        <button class="btn-lateral">
            Exemplo 3
        </button>
        <button class="btn-lateral">
            Exemplo 4
        </button>
        <button class="btn-lateral lateral-last">
            Exemplo 5
        </button>
    </div>
    <div class="conteudo  min-height-index-padrao-600px painel-de-controle-conteudo" >
        <div class="div-cabeca-index text-center">
            <div class="label-org-index pl-35px"> Painel de controle </div>
            <div class="botoes-org-index">
            </div>
        </div>
        <div class="width-100por" id="conteudo_dashboard">
            <div class="selecione_a_esquerda">
                Selecione uma opção à esquerda
            </div>
        </div>
    </div>
</div>

<script>

function renderizar_produto() {
    $("#conteudo_dashboard").html("<%= escape_javascript(render('estoque_produto')) %>");
}
</script>