<div class="jumbotron text-center fundo-footer">
  <p>&copy; Development by Edenilson Almeida, Luciano Cazarotto, Luciano Mattiello.</p>
  <h6>Site desenvolvido para a matéria de Desenvolvimento com Frameworks da Unochapecó.</h6>
</div>