<div class="jumbotron text-center fundo-footer">
  <div class="social-part">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
  <p>&copy; Development by Edenilson Almeida, Fabio Guerro, Jyann Alex, Lucas Ribacki e Luciano Cazarotto.</p>
  <h6>Site desenvolvido para a matéria de Desenvolvimento com Frameworks da Unochapecó.</h6>
</div>